// ==============================================
// Variables
// ==============================================

$dot-width: 100px;
$dot-height: 100px;
$dot-radius: $dot-width;

$dot-color: #ff8086;
$dot-bg-color: $dot-color;
$dot-before-color: $dot-color;
$dot-after-color: $dot-color;

$dot-spacing: $dot-width + $dot-width/2;
