/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
$dot-color: #b39da0;

.dot-pulse {
  position: relative;
  top: 10px;
  left: -9960px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $dot-color;
  color: $dot-color;
  box-shadow: 9999px 0 0 -5px $dot-color;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $dot-color;
  color: $dot-color;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px $dot-color;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px $dot-color;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px $dot-color;
  }
  30% {
    box-shadow: 9984px 0 0 2px $dot-color;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px $dot-color;
  }
}

@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px $dot-color;
  }
  30% {
    box-shadow: 9999px 0 0 2px $dot-color;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px $dot-color;
  }
}

@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px $dot-color;
  }
  30% {
    box-shadow: 10014px 0 0 2px $dot-color;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px $dot-color;
  }
}
